<div id="login-container" style="text-align: center">
    <!--  *ngIf="isLoggedOn" -->
    <h2>CREA UN GRUPO</h2>
<form [formGroup]="outputForm" (ngSubmit)="submitForm()" style="margin-top: 40px">
    <span>NOMBRE DEL GRUPO:</span>
<input type="text" id="uame" formControlName="nombre">
<br>
<span>CREADOR??</span>
<input type="text" id="uame" formControlName="creador">
<br>
<span>ELIGE JUEGO:</span>
<select name="juego" id="juego" formControlname="juego">
    <option value="rigatoni">Rigatoni</option>
<option value="dave">Dave</option>
<option value="pumpernickel">Pumpernickel</option>
<option value="reeses">Reeses</option>
    </select>
<br>

<button type="submit" value="submit">AGREGAR</button>
<div id="vacio-respuesta"></div>
</form>
</div>

