<script type="text/javascript">
    $(document).ready(function() {
    $('#example').DataTable();S
} );
</script>
<table id="example" class="table table-striped table-bordered table-bck">
    <thead>
        <tr>
            <th>Nick - ID</th>
            <th>Jugando a...</th>
            <!-- Fetch de los iconos de los 3 primeros grupos -->
            <!--cambiar por ultima fecha conex-->
            <th>Tiempo de la sesión</th>
            <th>Gestionar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jugando a</td>
            <td>System Architect</td>
            <td>61</td>
            <td>
                <button class="btn-context btn-blue">Mensaje</button>
                <button class="btn-context btn-yellow">Info</button>
                <button class="btn-context btn-red">Eliminar</button>
            </td>
        </tr>
        <tr>
            <td>Garrett Winters</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>
                <button class="btn-context btn-blue">Mensaje</button>
                <button class="btn-context btn-yellow">Info</button>
                <button class="btn-context btn-red">Eliminar</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>¿Conectado?</th>
            <th>NickID</th>
            <th>Jugando a...</th>
            <th>Tiempo de la sesión</th>
        </tr>
    </tfoot>
</table>
