
<div>
    <table class="table table-bck">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#Num. Usuarios</th>
            <th scope="col">Nombre</th>
            <th scope="col">Creador</th>
            <th scope="col">Juego</th>
            <th scope="col">Gestionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getData">
            <th scope="row" >{{item.id}}</th>
            <td>{{item.nombre}}</td>
            <td>{{item.creador}}</td>
            <td>{{item.juego.nombre}}<img width="64px" style="margin-left: 4px; border: 2px solid black" src="../../assets/img-juegos/{{item.juego.imagen}}"></td>
            <td>
              <button>Entrar</button>
              <button>Info</button>
              <button>Dejar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  


