      <!-- Controlar que salga el aside dependiendo de la pag -->
      <!-- Quitarlo en HOME, en Sobre etc-->
    <!-- Tienen que ver con la página actual -->
        <h3>{{tituloAsideData}}</h3>
        <p class="comp-text">{{asideData}}</p>

    <!-- Datos de Twitch para rellenar -->
        <div class="cont-inyectado">
          Te puede interesar:

          <h3 class="twtv-panel-title">Top Juegos <span style="color: purple">Twitch.tv</span></h3>
          <div id="twtv-panel">

          <div id="twtv-games-loop-container" *ngFor="let item of twitchDataArray">
            <img width="99" height="125" src="{{ item.box_art_url | twitchUrl }}" style="margin-right: 20px">
            <span class="twtv-item-title">{{item.name}}</span>
          </div>
        </div><br>

      </div>

        <div id="twtv-panel">
          <h3 class="cp-inner-subtitle">Top Streams <span style="color: purple">Twitch.tv</span></h3>
          <div *ngFor="let item of twitchStreamsArray">


            <div>{{item.user_login}}</div>
            <div><img src="{{ item.thumbnail_url | twitchThumb }}"></div>
            <div><span>Viewers: </span>{{item.viewer_count}}</div>
            <div><span>Lang: </span>{{item.language}}</div>
          </div>
        </div>

