      <!-- Controlar que salga el aside dependiendo de la pag -->
      <!-- Quitarlo en HOME, en Sobre etc-->
    <!-- Tienen que ver con la página actual -->
        <h3>{{tituloAsideData}}</h3>
        <p class="comp-text">{{asideData}}</p>

    <!-- Datos de Twitch para rellenar -->
        <div class="cont-inyectado">

          <h3 class="twtv-panel-title">Top Juegos <span style="color: purple">Twitch.tv</span></h3>
          <div id="twtv-panel">

          <div id="twtv-games-loop-container" *ngFor="let item of twitchDataArray">
            <img width="70" height="88" src="{{ item.box_art_url | twitchUrl }}" style="margin-right: 20px">
            <span class="twtv-item-title" style="font-size: 1.2em">{{item.name}}</span>
          </div>
        </div><br>

      </div>

        <div id="twtv-panel">
          <h3 class="cp-inner-subtitle">Top Streams <span style="color: purple">Twitch.tv</span></h3>
          <div *ngFor="let item of twitchStreamsArray" style="margin-bottom: 10px">


            <h4>{{item.user_login}}</h4>
            <div><img src="{{ item.thumbnail_url | twitchThumb }}"></div>
            <div><span style="color: red">●</span><span style="font-size: 18px">Viewers: {{item.viewer_count}} | Idioma: {{item.language}}</span></div>
          </div>
        </div>

