

<div class="cp-inner-central">

  <div id="cp-search-container">
      <!--  *ngIf="isLoggedOn" -->
      <h2 class="cp-inner-title">BUSCA UN GRUPO</h2>
  
      <form style="margin-top: 40px">
      <label><span>Buscar por nombre: </span></label>
  <input type="text" id="uame">
  <button class="btn-submit"  type="submit" value="submit">Buscar</button>
  <br>
  
  <!--<input type="text" id="uame" formControlName="creador" value="1"> -->

  
  <br>
  <label><span>Buscar por tipo: </span></label>
  <select name="tipo" id="tipogrupo">
      <option value="casual">Casual</option>
      <option value="casual">Competitivo</option>
      <option value="casual">Charla</option>
  </select>
  <button class="btn-submit" type="submit" value="submit">Buscar</button>
  <br>
  
  
  <div id="vacio-respuesta"></div>
  </form>
  
  </div>
<br>
  <h2>O busca en la lista:</h2>

  <br><br>
  <div id="games-loop-container">
<ul *ngFor="let item of payload">
    <li>{{item.nombre}}</li>
    
</ul>

</div>
  
  </div>

